@import '../../utils/variables.scss';

.simplify-section {
	margin-top: 10%;
	background-color: $bright-red;
	text-align: center;
	padding: 0px 16px;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	@media screen and (min-width: 1024px) {
		padding: 0 64px;
		height: 40vh;
		flex-direction: row;
		justify-content: space-between;
	}

	P {
		font-size: 2.5rem;
		color: #fff;
		font-weight: 800;

		@media screen and (min-width: 1024px) {
			width: 49%;
			text-align: left;
		}
	}

	.btn-container {
		margin-top: 5%;

		@media screen and (min-width: 1024px) {
			width: 24%;
			margin: 0%;
		}

		@media screen and (min-width: 1280px) {
			width: 20%;
		}
		.get-started-btn {
			background-color: #fff;
			color: $bright-red;
			text-align: center;
		}
	}

	img {
		position: absolute;
		top: 70px;
		left: 0;

		@media only screen and(max-height: 667px) {
			top: 26px;
		}

		@media (max-height: 640px) {
			top: 15px;
		}

		@media only screen and (max-height: 611px) {
			top: 3px;
		}

		@media screen and (min-width: 1024px) {
			display: none;
		}
	}
}
