@import '../../utils/variables.scss';

.section-two {
	display: flex;
	flex-direction: column;
	margin-top: 35%;

	@media screen and (min-width: 768px) {
		margin-top: 19%;
	}

	@media screen and (max-width: 1280px) and (min-width: 1024px) {
		flex-direction: row;
		margin-top: 10%;
		padding: 0 27px 0 50px;
	}

	@media screen and (min-width: 1920px) {
		padding: 0;
		max-width: 1444px;
		margin: 15% auto;
		justify-content: space-between;
		flex-direction: row;
	}

	.sub-heading {
		text-align: center;
		padding-left: 16px;

		@media screen and (max-width: 1280px) and (min-width: 1024px) {
			text-align: left;
			padding-left: 0;
		}

		@media screen and (min-width: 1920px) {
			padding: 0;
			text-align: left;
			width: 28%;
		}
		h2 {
			color: $primary-color;
			font-size: 1.8rem;

			@media screen and (max-width: 1280px) and (min-width: 1024px) {
				font-size: 2.5rem;
			}
		}

		span {
			color: $dark-blue;
			line-height: 2;
			width: 90%;
			display: block;
			font-size: 1rem;
			margin: 3% auto 15% auto;

			@media screen and (max-width: 1280px) and (min-width: 1024px) {
				margin: 3% 0 0 0;
				font-size: 1.2rem;
				width: 88%;
			}

			@media screen and (min-width: 1920px) {
				width: 100%;
				margin: 3% 0;
				font-size: 1.2rem;
			}
		}
	}

	.steps-container {
		@media screen and (min-width: 1920px) {
			width: 38%;
		}
		.step {
			margin-bottom: 12%;
			@media screen and (min-width: 768px) {
				padding: 0 17px;
			}

			@media screen and (min-width: 1920px) {
				padding: 0;
			}
			h3 {
				padding: 0.5rem 0;
				padding-left: 80px;
				border-top-left-radius: 30px;
				border-bottom-left-radius: 30px;
				position: relative;
				background-color: #ffefeb;
				font-size: 1rem;
				color: $primary-color;

				@media screen and (min-width: 768px) {
					text-align: center;
					padding-left: 0;
				}

				@media screen and (min-width: 1920px) {
					text-align: left;
					padding-left: 95px;
					background-color: transparent;
				}
				span {
					background-color: $bright-red;
					padding: 0.5rem 1.5rem;
					border-radius: 50px;
					position: absolute;
					top: 0;
					left: 0;
					color: #fff;
				}
			}

			p {
				font-size: 0.9rem;
				color: $dark-blue;
				line-height: 1.7;
				margin-top: 3%;
				padding: 0 16px;

				@media screen and (min-width: 768px) {
					font-size: 1.1rem;
				}

				@media screen and (min-width: 1920px) {
					font-size: 1.2rem;
					line-height: 1.9;
					padding: 0;
				}
			}
		}
	}
}
