@import '../../utils/variables.scss';
nav {
	.inner-nav-container {
		display: flex;
		justify-content: space-between;
		padding: 0 16px;
		min-height: 100px;

		@media screen and (min-width: 768px) {
			padding: 0 24px;
		}

		@media screen and (min-width: 1024px) and (max-width: 1280px) {
			padding: 0 50px;
			min-height: 184px;
		}

		@media screen and (min-width: 1920px) {
			padding: 0;
			max-width: 1444px;
			min-height: 196px;
			margin: 0 auto;
		}

		.logo-container {
			display: flex;
			align-items: center;

			img {
				width: 80%;

				@media screen and (min-width: 768px) {
					width: 88%;
				}

				@media screen and (min-width: 1024px) and (max-width: 1280px) {
					width: 100%;
				}
			}
		}

		/* burger button */
		.sc-bdfBwQ {
			@media screen and (min-width: 1024px) {
				display: none;
			}
		}

		.desktop-links {
			@media screen and (max-width: 1023px) {
				display: none;
			}
			display: flex;
			align-items: center;
			flex: 1;
			justify-content: center;

			li {
				margin-right: 4%;
				a {
					color: $primary-color;
				}
			}
		}

		.btn-container {
			width: 21%;
			align-self: center;

			@media screen and (max-width: 1023px) {
				display: none;
			}

			@media screen and (min-width: 1920px) {
				width: 14%;
			}

			.get-started-btn {
				padding: 1.3rem 2.5rem;
				text-align: center;
			}
		}
	}

	.pattern-bg {
		position: absolute;
		top: -95px;
		left: 39px;
		overflow-x: hidden;
		z-index: -1;

		@media screen and (min-width: 768px) {
			top: -249px;
			left: 93px;
		}

		@media screen and (min-width: 1024px) {
			position: static;
		}

		img {
			width: 130%;

			@media screen and (min-width: 1024px) {
				position: absolute;
				top: 0;
				right: 0;
				z-index: -1;
			}

			@media screen and (min-width: 1024px) and (max-width: 1140px) {
				width: 66%;
				position: absolute;
				top: -80px;
				right: -54px;
				z-index: -1;
			}

			@media screen and (min-width: 1141px) and (max-width: 1280px) {
				top: -56px;
				right: -57px;
				width: 60%;
			}

			@media screen and (min-width: 1920px) {
				top: -221px;
				right: -74px;
				width: 50%;
			}
		}
	}
}
