@import '../../utils//variables.scss';

.carousel-section {
	h2 {
		text-align: center;
		color: $primary-color;
	}
	.person-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 29%;
		background-color: #ffefeb;
		position: relative;
		padding: 47px 20px;
		margin-bottom: 1%;
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;

		img {
			width: 24%;
			position: absolute;
			top: -54px;
			left: 126px;

			@media screen and (max-width: 450px) and (min-width: 413px) {
				width: 22;
				left: 145px;
			}
		}

		h4 {
			color: $primary-color;
		}

		p {
			font-size: 0.9rem;
			line-height: 1.8;
			color: $dark-blue;
		}
	}

	.BrainhubCarousel__dots .BrainhubCarousel__dot {
		background-color: #fff;

		&::before {
			background-color: #fff;
			border: 1px solid $bright-red;
			width: 8px;
			height: 8px;
		}
	}

	.BrainhubCarousel__dots .BrainhubCarousel__dot.BrainhubCarousel__dot--selected {
		&::before {
			background-color: $bright-red;
		}
	}

	.btn-container {
		display: flex;
		justify-content: center;
		margin-top: 5%;
	}
}
