@import '../../utils//variables.scss';

.carousel-section {
	h2 {
		text-align: center;
		color: $primary-color;
	}
	.person-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 29%;
		background-color: #ffefeb;
		position: relative;
		padding: 47px 20px;
		margin-bottom: 5%;
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;

		img {
			width: 24%;
			position: absolute;
			top: -54px;
			left: 126px;
		}

		h4 {
			color: $primary-color;
		}

		p {
			font-size: 0.9rem;
			line-height: 1.8;
			color: $dark-blue;
		}
	}
}
