@import '../../utils//variables.scss';

.carousel-section {
	h2 {
		text-align: center;
		color: $primary-color;
	}
	.person-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 29%;
		background-color: #ffefeb;
		position: relative;
		padding: 47px 20px;
		margin-bottom: 1%;
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;

		@media screen and (min-width: 450px) {
			padding: 55px 20px;
		}

		@media screen and (min-width: 768px) {
			padding: 82px 20px;
		}

		@media screen and (min-width: 1024px) and (max-width: 1140px) {
			align-items: center;
			width: 29%;
			flex-shrink: 0;
			padding: 58px 20px;
			margin-left: 0;
			margin-top: 7%;
		}

		img {
			width: 24%;
			position: absolute;
			top: -54px;
			left: 126px;

			@media screen and (max-width: 450px) and (min-width: 413px) {
				width: 22%;
				left: 145px;
			}

			@media screen and (min-width: 450px) {
				left: 160px;
				width: 20%;
			}

			@media screen and (min-width: 768px) {
				left: 300px;
				top: -53px;
				width: 13%;
			}

			@media screen and (min-width: 1024px) and (max-width: 1140px) {
				left: auto;
				top: -30px;
				width: 20%;
			}
		}

		h4 {
			color: $primary-color;
		}

		p {
			font-size: 0.9rem;
			line-height: 1.8;
			color: $dark-blue;

			@media screen and (min-width: 768px) {
				font-size: 1.1rem;
			}
		}
	}

	.mobile-carousel {
		@media screen and (min-width: 1024px) {
			display: none;
		}
	}

	.BrainhubCarousel__dots .BrainhubCarousel__dot {
		@media screen and (min-width: 1024px) {
			display: none;
		}
		background-color: #fff;

		&::before {
			background-color: #fff;
			border: 1px solid $bright-red;
			width: 8px;
			height: 8px;
		}
	}

	.BrainhubCarousel__dots .BrainhubCarousel__dot.BrainhubCarousel__dot--selected {
		&::before {
			background-color: $bright-red;
		}
	}

	.desktop-slider {
		display: flex;
		width: 110%;
		padding-right: 3rem;
	}

	.btn-container {
		display: flex;
		justify-content: center;
		margin-top: 5%;
	}
}
