@import '../../utils/variables.scss';

.footer-section {
	background-color: #1d1e25;
	padding: 0 16px;

	@media screen and (min-width: 1024px) and (max-width: 1280px) {
		padding: 80px 64px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
	}

	.input-btn-container {
		display: flex;
		padding: 19% 0 12% 0;

		@media screen and (min-width: 768px) {
			width: 90%;
			margin: 0 auto;
		}

		@media screen and (min-width: 1024px) and (max-width: 1280px) {
			padding: 0;
			width: 44%;
			align-self: flex-start;
			margin: 0;
		}

		input {
			border-radius: 30px;
			padding-left: 23px;
			margin-right: 2%;
			border: none;
			flex: 1;
			font-family: 'Be Vietname';
			font-weight: 500;
			color: $dark-blue;
			font-size: 1rem;
		}
		.btn-container {
			width: 24%;

			.get-started-btn {
				padding: 1rem 0;
				text-align: center;
			}
		}
	}

	.nav-links-container {
		display: flex;
		justify-content: space-around;
		padding-bottom: 10%;

		@media screen and (min-width: 768px) {
			justify-content: space-evenly;
		}

		@media screen and (min-width: 1024px) and (max-width: 1280px) {
			width: 38%;
			height: 17vh;
		}

		.first-half,
		.second-half {
			line-height: 2;
		}
	}

	.social-links-logo-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: 1024px) and (max-width: 1280px) {
			flex-direction: column-reverse;
			align-items: flex-start;
			justify-content: space-between;
			width: 29%;
			height: 17vh;
		}

		.social-links {
			width: 100%;
			display: flex;
			justify-content: space-around;
			margin-bottom: 12%;

			@media screen and (min-width: 768px) {
				width: 44%;
				margin-bottom: 6%;
			}

			@media screen and (min-width: 1024px) and (max-width: 1280px) {
				width: 100%;
				justify-content: flex-start;
			}

			a {
				@media screen and (min-width: 1024px) {
					margin-right: 3%;
				}
			}
		}

		.logo {
			.letters {
				fill: #fff;
			}
		}
	}

	.copyright-container {
		padding: 10% 0;

		@media screen and (min-width: 768px) {
			padding: 5% 0;
		}

		@media screen and (min-width: 1024px) {
			display: none;
		}

		p {
			color: #fff;
			text-align: center;
			font-size: 0.9rem;
		}
	}
}
