@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	line-height: 1.4;
	font-family: 'Be Vietnam', sans-serif;
}
