@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
@import './utils/variables.scss';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	line-height: 1.4;
	font-family: 'Be Vietnam', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}
.btn-container {
	width: 60%;
	margin: 0 auto;
	.get-started-btn {
		background-color: $bright-red;
		padding: 1rem 3rem;
		border-radius: 30px;
		display: block;
		font-weight: 700;
	}
}
